<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Santa Marta Lodgings - Django</title>
  <link href="/static/css/style.css" rel="stylesheet">
  {% load static %}
</head>
<body>
  <header><h1>Santa Marta Real State</h1></header>
  <section class="banner">Bienvenido a Santa Marta
  </section>
   <section class="banner">UNA AVENTURA INOLVIDABLE Y LLENA DE NUEVA EXPERIENCIA
  </section>
  <section class="galeria">
  {% for p in propiedades %}
    <article class="card">

      {% if p.title == "Apartamento Centro" %}

        <img src="{% static 'img/apartamento.jpg' %}" alt="Apartamento">

  {% elif p.title == "casa Rural" %}

        <img src="{% static 'img/casa_rural.jpg' %}" alt="Casa Rural">

  {% elif p.title == "Apartamento Centro." %}

        <img src="{% static 'img/apartamento2.jpg' %}" alt="Apartamento Centro">

        {% elif p.title == "casa Rural." %}

        <img src="{% static 'img/casa_rural2.jpg' %}" alt="Casa Rural">

      {% endif %}

      <h3>{{ p.title }}</h3>
      <p>{{ p.price }}</p>
      <a href="{% url 'detalle' p.id %}">Ver más</a>
    </article>
  {% endfor %}
  
</section>
<footer class="footer">
    <div class="wrap">

        <p>© {{year}} Santa Marta Lodgings</p>

   
        <div class="social-links">
            <a href="https://facebook.com/TU_USUARIO" target="_blank">Facebook</a>
            <a href="https://instagram.com/TU_USUARIO" target="_blank">Instagram</a>
            <a href="https://wa.me/" target="_blank">WhatsApp</a>
        </div>

        <!-- Términos -->
        <p><a href="{% url 'terminos' %}">Términos y Condiciones</a></p>


    </div>
</footer>

</body>
</html>

