* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 229)
}

header {
    background: #0aa;
    padding: 16px;
    color: white
}

.banner {
    padding: 40px;
    text-align: center;
    background: linear-gradient(90deg, #89f 0%, #7ef 100%);
    color: #034
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px
}

.card {
    border: 1px solid #ffffff;
    padding: 12px;
    width: 260px
    
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover
}

.gallery img {
    max-width: 100%;
    height: auto
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 6px 0
}

button {
    background: #0aa;
    color: white;
    border: none;
    padding: 15px 14px;
    border-radius: 6px
}

.galeria{
    background-image: url("../img/fondo2.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 90px; 
}
